src/main/mule/orders-mb-shop.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="2222b7dc-7c09-405b-8e6a-2a93755389d4" keyGenerationExpression="#[vars.orderId]" />
	<flow name="orders-mb-shop-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="Router"/>
    </flow>
    <flow name="orders-mb-shop-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="Router"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders\(orderId):Router">
        <set-variable value="#[attributes.uriParams.orderId]" doc:name="orderId" doc:id="6440dba4-b7c6-46d0-80c4-bf0ee9ef8de4" variableName="orderId"/>
		<logger level="INFO" doc:name="Pre-logging" doc:id="77ae66ff-c7fb-42a9-9217-ea02e1877418" message="looking for id #[vars.orderId]" />
		<ee:cache doc:name="Cache" doc:id="331e3eef-91de-400c-8639-bdecafd12c9c" filterExpression='#[upper(attributes.headers."Cache-Control") != "NO-CACHE"]' cachingStrategy-ref="Caching_Strategy">
			<flow-ref doc:name="get:\orders\(orderId)-impl" doc:id="270b1d92-2407-4f48-978b-751daadfddf4" name="get:\orders\(orderId)-impl" />
		</ee:cache>
		<logger level="INFO" doc:name="Post-logging" doc:id="82d41d4b-9408-489d-9694-4ff7f21de0b1" message="ok for #[vars.orderId]"/>
    </flow>
</mule>
